.form {
  padding: 1rem 2rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-control {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form-actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.form-actions button {
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;

  color: #fff;
  background-color: var(--color-primary);
}

.form-actions button[type="button"] {
  color: #fff;
  background-color: var(--color-danger);
}
